@import '../helpers/reset.css';
footer{
    position: fixed;
    width: 100%;
    background: rgb(var(--main-color-footer));   
    bottom: 0;
}
.footer-inner{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 24px;
}


.footer-logo{
    width: 6%;
    height: 6%;
    transform: translateX(3rem);
}

.footer-logo img{
    animation:float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
      transform: translateY(-1rem);
    }
    50%{
      transform: translateY(1rem);
    }
}

.footer-link-socials{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-link-socials i{
    font-size: var(--font-size--lg);
    cursor: pointer;
    margin: 0 10px;
    transition: ease-in-out .2s;
}

.footer-link-socials li:hover i{
    font-size: calc(1.5*var(--font-size--lg));
}
