.mySwiper {
  animation: slide infinite 2s alternate;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes slide {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: -200px;
  }
  100% {
    margin-left: -400px;
  }
}
