.home-content {
  // .slider {
  //   margin-top: 10px;
  // }
  .pagination-container {
    display: flex;
    justify-content: center;
  }
}
// .home-content__item {
//   display: grid;
//   grid: auto / auto;
//   justify-content: space-around;
// }

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
}
