@import '../../style/helpers/variable.scss';

.home-container {
  padding-left: var(--sidebar-left-width);
  padding-top: var(--header-nav-height);
  height: 100vh;
  // display: grid;
  // grid: auto / auto;
  // justify-content: center;
}
