.home-content {
  height: 100%;

  .pagination-container {
    position: absolute;
    bottom: var(--spacing-unit-md);
    right: calc(50% - var(--sidebar-left-width));
  }
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
}
