.ui.menu.fixed.side-nav {
  background-color: #fff;
  margin-top: var(--header-nav-height);
  overflow-y: auto;
  padding-bottom: var(--header-nav-height);

  .sidebar-item:hover {
    background: var(--sidebar-hover-color);
  }

  .subscription:hover {
    background: var(--icon-hover-color);
    cursor: pointer;
  }
}

.side-nav.ui.vertical.menu {
  width: var(--sidebar-left-width);
}

@media screen and (max-width: 1028px) {
  .ui.menu.fixed.side-nav {
    display: none;
  }
}
