@import '../../style/helpers/variable.scss';

.ui.menu.fixed.side-nav {
  background-color: var(--primary-background-color);
  margin-top: $header-nav-height;
  overflow-y: auto;
  padding-bottom: $header-nav-height;

  .sidebar-item:hover {
    background: $sidebar-hover-color;
  }

  .subscription:hover {
    background: var(--icon-hover-color);
    cursor: pointer;
  }
}

.side-nav.ui.vertical.menu {
  width: $sidebar-left-width;
}
