@import '../helpers/reset.css';
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .myBtn {
    transition-duration: 0.4s;
     box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
    outline: none;
  }
 /* Nội Dung Modal */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
                0 2px 2px rgba(0,0,0,0.12),
                0 4px 4px rgba(0,0,0,0.12),
                0 8px 8px rgba(0,0,0,0.12),
                0 16px 16px rgba(0,0,0,0.12);
    border-radius: 25px;
  }
 /* Nút Đóng Modal */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: calc(1.5*(var(--font-size-lg)));
    font-weight: var(--font-weight-semibold);
  }
 .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }