.video-preview {
  display: grid;
  grid: 180px auto / 320px; //fisrt row = 180px and onther auto
  cursor: pointer;

  &:hover {
    .image-wrapper {
      filter: blur(1px);
      transition: all 0.2s linear;

      .frame {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        animation: zoomeffect 3s infinite;
      }
    }
  }

  &.horizontal {
    grid: auto / 210px auto;
    grid-column-gap: var(--spacing-unit-sm);

    .video-info {
      margin-top: 0;
    }
    &.expanded {
      grid: auto / 246px auto;
    }

    .video-info {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
  }
}

.video-info {
  margin-top: var(--spacing-unit-sm);
  grid-row: 2 / 3; /* is overriden when VideoPreview is horizontal */
  grid-column: 1 / 2; /* is overriden when VideoPreview is horizontal */
  color: var(--secondary-text-color);
  font-weight: var(--font-weight-regular);

  .video-preview-metadata-container {
    padding-top: var(--spacing-unit-xs);
    font-size: var(--font-size-sm);
    color: #6e6e6e;

    .channel-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .show-max-two-lines {
    overflow: hidden;
    font-size: var(--font-size-sm);
    color: var(--primary-text-color);
    line-height: 1.4em;
    max-height: 2.8em;
  }

  .view-and-time {
    font-size: var(--font-size-sm);
    margin-bottom: var(--spacing-unit-sm);
  }

  .semi-bold {
    font-weight: var(--font-weight-bold);
    &.expanded {
      font-size: var(--font-size-sm);
      color: var(--primary-text-color);
    }
  }
}

.image-container {
  position: relative;
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  .image-wrapper {
    max-width: 320px;
    max-height: 180px;
    overflow: hidden;
  }

  /* Video duration label at bottom right */
  .time-label {
    position: absolute;
    background: var(--primary-text-color);
    bottom: 0;
    right: 0;
    opacity: 0.8;
    border-radius: 2px;
    font-weight: var(--font-weight-semibold);
    color: white;
    margin: 4px;
    padding: 2px 4px;
    line-height: 12px;
  }
}

//
@keyframes zoomeffect {
  0% {
    background-position: center;
    transform: scale(1, 1);
  }

  100% {
    background-position: center;
    transform: scale(2, 2);
  }
}
