.watch-grid {
  display: grid;
  grid-template: auto auto auto 1fr / minmax(0, 1280px) 402px;
  justify-content: center;
  padding-top: 24px;
  column-gap: 24px;
  grid-row-gap: 8px;

  .video {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
