:root{
    /* main color */
    --main-color-background: 237,241,245;
    --main-color-foreground: 250,250,250;
    --main-color-header: 43,45,66;
    --main-color-footer: 17,22,29;

    /* sub color */
    --color-blue: 61,180,242;
    --color-blue-dim: 141,178,219;
    --color-white: 255,255,255;
    --color-black: 0,0,0;
    --color-red: 232,93,117;
    --color-peach: 250,122,122;
    --color-orange: 247,154,99;
    --color-yellow: 247,191,99;
    --color-green: 123,213,85;
    --color-white: 255,255,255;
    --color-black: 0,0,0;

    /* background color */
    --color-background-100: 251,251,251;
    --color-background-200: 237,241,245;
    --color-background-300: 221,230,238;
    --color-background-400: 201,215,227;
    --color-background-500: 173,192,210;
    --color-background-600: 139,160,178;
    --color-background-700: 116,136,153;
    --color-background-800: 100,115,128;
    --color-background-900: 81,97,112;
    --color-background-1000: 64,78,92;
    --color-background-1100: 38,52,63;
    --color-background-1200: 27,30,31;

    /* text color */
    --color-text: 92,114,138;
    --color-text-light: 122,133,143;
    --color-text-lighter: 146,153,161;
    --color-text-bright: 237,241,245;

    /* font size */
    --font-size-sm: 14;
    --font-size-me: 20;
    --font-size-lg: 32;
    --font-size-slg: 60;

    /* line-height */
    --line-height-sm: 20;
    --line-height-me: 30;
    --line-height-lg: 42;

    /* font-weight */
    --font-weight-regular: 400;
    --font-weight-me: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* spacing */
    --base-spacing: 15;

    /* margin */
    --margin-sm: 10;
    --marin-me: 40;
    --margin-lg: 60;
    --margin-slg: 80;

    /* sidebar properties */
    --lg-heigth-sidebar: 44; 


    
}