@import './helpers/reset.css';
@import './helpers/variables.css';
img{
    display: block;
    width: 100%;
}

body{
    background-color: rgb(var(--main-color-background));
}

.page-header{
    background: #fff;
    position: relative;
}

.page-banner img{
    background-position: 50% 35%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    /* margin-top: -58px; */
}

.header-container{
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 215px auto;

    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.profile{
    margin-top: -125px;
    position: relative;
}

.profile .profile-inform{
    display: grid;
    grid-template-columns: auto 35px;
    margin-bottom: 20px;
    margin-top: 20px;
    grid-gap: 15px;
}

.header-content{
    display: inline-grid;
    padding-top: 25px;
}

.header-content h1{
    color: black;

}

.header-content .description{
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 0;
    max-width: 900px;
    padding: 15px 0;
}

.header-content .author{
    font-size: 1rem;
    font-weight: 600;
}

.nav-router{
    align-self: end;
    display: flex;
    font-size: 1.3rem;
    font-weight: 700;
    justify-content: space-evenly;
    justify-self: center;
    max-width: 800px;
    width: 100%;
    color: rgb(var(--color-text));
    padding: 15px;
}

.page-content{
    height: auto;
    display: grid;
    grid-column-gap: 40px;
    grid-template-columns: 208px auto;
    margin-top: 30px;
    max-width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}


.common-content__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    padding: 10px 10px;
    border-radius: 3px;
    box-shadow: 1px 3px 6px #888888;
    overflow: hidden;
}
.common-content__items p {
    font-size: 1rem;
    font-weight: 500;
}

.rankings{
    display: block;

}
.rankings .rankings__items{
    display: inline-block;
    padding: 8px 20px;
    margin-top: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 1px solid;
    width: 100%;
}
.rankings__items span{
    display: inline-block;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
}
.rankings__items i{
    font-size: 0.65rem;
    width: 10%;
}

.video-preview h2 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 650;
    color: rgb(var(--color-text));
}

.video-preview iframe{
    width: 100%;
    height: 25rem;
    margin: 0 var(--margin);
}