@import './helpers/reset.css';
#page-container{
  transition: all .2s linear;
}
.home{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    padding-top: 2rem;
}

.home .content{
    flex: 1;
    padding-top: 6.5rem;
}

.home .content h3{
  font-size: 5rem;
  color:#333;
}

.home .content p{
  font-size: 1.7rem;
  color:#666;
  padding:1rem 0;
}

.home .content h3{
    font-size: 5rem;
    color:#333;
  }
  
  .home .content p{
    font-size: 1.7rem;
    color:#666;
    padding:1rem 0;
  }
  
.home .image{
    flex: 2 2;
}

