@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #eee; 
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

#section{
    display: flex;
    flex-wrap: wrap;
    transition: all .5s;
    --column:
}

#section .user-cards{
    width: calc((100% - 200px)/ 5);
    margin: 10px 20px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 100px 80px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-cards .card-image{
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.user-cards .card-content{
    padding: 10px;
    font-weight: 500;
    margin-bottom: 15px;
}

.user-cards .card-content h3{
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-cards .card-footer{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #eee;
}