@import './helpers/reset.css';
img{
    display: block;
    max-width: 100%;
    height: 75%;
}
button{
    cursor: pointer;
}

#page-container{
    display: block;
    transition: all .5s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    margin-top: 48px;
    background-color: rgb(var(--main-color-background));;
}

.search-filter{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1.2rem;
    padding: 40px  0;
}

.search-filter__item .title-name{
    font-size: var(--font-size);
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;

}
#page-content-list{
    display: flex;
    flex-wrap: wrap;
}

#page-content-list .user-cards{
    width: calc((100% - 200px)/ 5);
    margin: 10px 20px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 100px 80px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.user-cards .card-image{
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    flex-shrink: 0;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.user-cards .card-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 25px;

}
.user-cards .card-content h2{
    color: rgb(var(--color-red));
    font-weight: 600;
}

.user-cards .card-content h3{
    font-size: calc(1.2 * var(--font-size));
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-cards .card-bottom{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #eee;
    padding: 10px;
    margin-top: auto;

}

.page-bottom{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.adding-form{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(var(--color-background-400));
    border-radius: 6px;
    box-shadow: 0 14px 30px rgba(var(--color-shadow-blue),.15),0 4px 4px rgba(var(--color-shadow-blue),.05);
    color: rgb(var(--color-gray-500));
    cursor: pointer;
    font-size: 1.8rem;
    height: 38px;
    width: 90%;
    transition: color .3s ease-in-out;
}
.adding-form:hover{
    text-decoration: none;
    background: rgb(var(--color-background-500));
}