@import './helpers/reset.css';
@import './helpers/variables.css';
img{
    display: block;
    max-width: 100%;
    height: auto;
}

#page-container{
    display: block;
    transition: all .5s;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(var(--color-background));;
}

.search-filter{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1.2rem;
    margin: 40px  0;
}

.search-filter__item .title-name{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
    text-transform: capitalize;
}
#page-content-list{
    display: flex;
    flex-wrap: wrap;
}

#page-content-list .user-cards{
    width: calc((100% - 200px)/ 5);
    margin: 10px 20px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 100px 80px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-cards .card-image{
    width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.user-cards .card-content{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.user-cards .card-content h2{
    color: rgb(201, 12, 12);
}

.user-cards .card-content h3{
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-cards .card-footer{
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #eee;
}