@import'./helpers/reset.css';
@import'./helpers/variables.css';
header {
    display: flex;
    overflow: hidden;
    background-color: var(--color-header);
    padding: 20px 10px;
}

header h2{
    margin: auto;
}

#sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #a5a8aa;
    transition: all .5s ease;
    z-index: 1;
}

#sidebar .logo{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #a5a8aa;
    user-select: none;
}

#sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 50px;
    border-bottom: 0.5px solid black;
    box-sizing: border-box;
    text-transform: uppercase;
    /* pop out effect */
    transition: .4s;
}

#sidebar li:hover a{
    padding-left: 50px;
    font-size: 35px;
}

#open-menu, #close-menu{
    position: absolute;
    cursor: pointer;
}
#open-menu{
    font-size: 35px;
}
#close-menu{
    z-index: 1000;
    left: 200px;
    top: 20px;
    font-size: 30px;
}

