*{
    box-sizing: border-box;
}

.demo-container{
    position: relative;
    min-height: 100vh;
}
.demo-container img{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid blueviolet;
}
.demo-container .image-inform{
    display: flex;
    flex-direction: column;
}