.slider-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .slider-image {
    width: 800px;
    height: 600px;
    border-radius: 10px;

    .image {
      width: 800px;
      height: 600px;
      border-radius: 10px;
    }

    .slide {
      opacity: 0;
      transition-duration: 1s ease;
    }

    .slide.active {
      opacity: 1;
      transition-duration: 1s;
      transform: scale(1.08);
    }
  }

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.671);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.671);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
}
