.trending-container {
  background-color: var(--light-theme-primary-color);

  .trending-content {
    margin-left: var(--sidebar-left-width);
    margin-top: var(--header-nav-height);
    display: flex;
    flex-direction: column;
    justify-self: center;

    .pagination-container {
      margin: var(--spacing-unit-md) auto;
      width: 50%;
    }
  }
}
