
.btn-submit{
    background: rgb(var(--color-blue));
    border-radius: 3px;
    color: rgb(var(--color-white));
    cursor: pointer;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 10px;
    padding: 10px 30px;
}

.btn-edit{
    display: flex;
    justify-content: end;
    padding-right: 10%;   
}

.btn-edit a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.btn-edit i{
    font-size: var(--font-size-me);
    transition: linear .2s;
}

.btn-edit:hover i{
    font-size: var(--font-size-lg);
}

.btn-primary{
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    font-weight: var(--font-weight-semibold);
    border-radius: 10px;
    padding: 15px 32px;

}

.cta{
  position: relative;
  margin: 0 auto;
  padding: 19px 22px;
  transition: all .2s ease;
}

.cta::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(var(--color-blue),.5);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
}

.cta span{
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #111;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease; 
}

.cta:hover:before {
    width: 100%;
    background: #ffab9d; 
}
.cta:hover svg {
    transform: translateX(0); 
}
.cta:active {
    transform: scale(0.96); 
}