.pageNumbers {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  opacity: 0.6;
  box-shadow: 0 10px 20px 0 rgba(black, 0.15);

  li {
    padding: var(--spacing-unit-sm);
    border: 1px solid white;
    flex: 1;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    // border-radius: 20px;

    &.active,
    &:hover {
      border-bottom: 2px solid var(--light-theme-tertiary-color);
      color: black;
    }

    button {
      background-color: transparent;
      border: none;
      color: black;
      font-size: var(--font-size-ssmall);
      cursor: pointer;
      // opacity: 0.6;
      // transition: 0.3s;

      // &:hover{
      //     background-color:  rgb(44, 44, 44);;
      //     color: black;
      // }

      &:focus {
        outline: none;
      }
    }
  }
}
