.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: calc(-1 * var(--spacing-unit-sm));

  & > * {
    margin-right: var(--spacing-unit-sm);
    margin-bottom: var(--spacing-unit-md);
  }
}
