.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right: calc(var(--spacing-unit-sm) * -1);
  min-height: 660px;

  & > * {
    margin-right: var(--spacing-unit-sm);
    margin-bottom: var(--spacing-unit-md);
  }
}
