@import '../../../style/helpers/variable.scss';

.video-grid-header {
  padding-bottom: $spacing-unit-md;
  padding-top: $spacing-unit-sm;
  padding-left: $spacing-unit-sm;
  .title {
    font-size: $font-size-medium;
    font-weight: $font-weight-bold;
  }
}
